@tailwind base;
@tailwind components;
@tailwind utilities;

/*base*/
body {
  background: #fff;
}
.btn {
  @apply inline-block text-sm leading-5 text-center align-middle cursor-pointer shadow-[inset_0_1px_0_rgba(255,255,255,0.2),0_1px_2px_rgba(0,0,0,0.05)] rounded mb-0 px-3 py-1;
}
.btn-danger {
  @apply text-white bg-[#da4f49] border border-solid border-[#bd362f] hover:text-white hover:bg-[#bd362f];
}
.btn:focus {
  outline: none;
}

/*app*/
.todo-container {
  @apply w-[600px] mx-auto my-0;
}
.todo-container .todo-wrap {
  @apply border p-2.5 rounded-[5px] border-solid border-[#ddd];
}

/*header*/
.todo-header input {
  @apply w-[560px] h-7 text-sm border rounded px-[7px] py-1 border-solid border-[#ccc] focus:shadow-[inset_0_1px_1px_rgba(0,0,0,0.075),0_0_8px_rgba(82,168,236,0.6)] focus:border-[rgba(82,168,236,0.8)];
}
.todo-header input:focus {
  outline: none;
}

/*main*/
.todo-main {
  @apply border ml-0 p-0 rounded-sm border-solid border-[#ddd];
}
.todo-empty {
  @apply h-10 leading-10 border mt-2.5 pl-[5px] rounded-sm border-solid border-[#ddd];
}
/*item*/
li {
  @apply h-9 leading-9 px-[5px] py-0 border-b-[#ddd] border-b border-solid before:content-[initial] last:border-b-[none];
  list-style: none;
}
li label {
  @apply float-left cursor-pointer;
}
li label li input {
  @apply align-middle relative mr-1.5 -top-px;
}
li button {
  @apply float-right hidden mt-[3px];
}

/*footer*/
.todo-footer {
  @apply h-10 leading-10 mt-[5px] pl-1.5;
}
.todo-footer label {
  @apply inline-block cursor-pointer mr-5;
}
.todo-footer label input {
  @apply relative align-middle mr-[5px] -top-px;
}
.todo-footer button {
  @apply float-right mt-[5px];
}
